.navbar {
  box-shadow: 2px 2px 3px #64b743;
  opacity: 0.5;
  background: white; }

.carousel-item{
  height: 450px;
}

.carosuel-wrap {
  overflow: hidden;
  position: relative;
}

.carousel-bg {
  opacity: 0.3;
  /* background-position: 0 -305px; */
  position: absolute;
  width: 100%;
  height: auto;
}

#testimonials .slick-prev::before, #testimonials .slick-next::before {
  color: #e68217 !important; }

.main-footer .text-orange {
  color: tint-color(#e68217, 90%); }
.main-footer .fas {
  color: #e68217; }

#six-steps .card-body {
  position: relative; }
  #six-steps .card-body .vertical-text-center {
    background: yellow;
    position: absolute;
    top: 50%; }

.Aligner {
  display: flex;
  align-items: center; }

.Aligner-item {
  max-width: 100%; }

.Aligner-item--top {
  align-self: flex-start; }

.order-6 {
  order: 6; }

.order-7 {
  order: 7; }

.order-8 {
  order: 8; }

.order-9 {
  order: 9; }

.text-justify {
  text-align: justify; }

.hr-green {
  color: #64b743;
  box-shadow: 0px 1px 2px #64b743; }

.hr-primary {
  color: #e68217;
  box-shadow: 0px 1px 2px #e68217; }
