.navbar {
  box-shadow: 2px 2px 3px #64b743;
  opacity: 0.5;
  background: white; }

.carousel-item {
  height: 400px; }

.carousel-image1 {
  background: url("../img/carousel1.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.carousel-image2 {
  background: url("../img/carousel2.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.carousel-image3 {
  background: url("../img/carousel3.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.carousel-image4 {
  background: url("../img/carousel4.jpg");
  background-size: cover;
  background-position: 0 -70px;
  background-repeat: no-repeat; }

.carousel-image5 {
  background: url("../img/carousel5.jpg");
  background-size: cover;
  background-position: 0 -750px; }

.carousel-image6 {
  background: url("../img/carousel6.jpg");
  background-size: cover;
  background-position: 0 -150px;
  background-repeat: no-repeat; }

.carousel-image7 {
  background: url("../img/carousel7.jpg");
  background-size: cover;
  background-position: 50px -250px;
  background-repeat: no-repeat; }

.carousel-image8 {
  background: url("../img/carousel8.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.slick-prev::before, .slick-next::before {
  color: #e68217 !important; }
