$primary: #e68217;
$green: #64b743;


.navbar{
    box-shadow: 2px 2px 3px $green;
    opacity: 0.5;
    background: white;
}

.carousel-image1{
    background: url('../img/carousel1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.carousel-image2{
    background: url('../img/carousel2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.carousel-image3{
    background: url('../img/carousel3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.carousel-image4{
    background: url('../img/carousel4.jpg');
    background-size: cover;
    background-position: 0 -70px;
    background-repeat: no-repeat;
}
.carousel-image5{
    background: url('../img/carousel5.jpg');
    background-size: cover;
    background-position: 0 -750px;
}
.carousel-image6{
    background: url('../img/carousel6.jpg');
    background-size: cover;
    background-position: 0 -150px;
    background-repeat: no-repeat;
}
.carousel-image7{
    background: url('../img/carousel7.jpg');
    background-size: cover;
    background-position: 50px -250px;
    background-repeat: no-repeat;
}
.carousel-image8{
    background: url('../img/carousel8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.main-carousel{
    position: relative;


    .slick-prev::before, .slick-next::before{
        color: $green !important;
    }

    .slick-dots li button:before{
        color: $green !important;
        position: absolute;
        top: -3rem;
    }
}

#testimonials{

    .slick-prev::before, .slick-next::before{
        color: $primary !important;
    }
}

.main-footer{

    .text-orange{
        $text-color: tint-color($primary, 90%) !default;
        color: $text-color;
    }
    .fas{
        color: $primary;
    }
    
}

#six-steps{
    .card-body{
        position: relative;
        
        .vertical-text-center{
            position: absolute;
            top: 50%;
        }
    }
}

.Aligner {
    display: flex;
    align-items: center;
  }
  
  .Aligner-item {
    max-width: 100%;
  }
  
  .Aligner-item--top {
    align-self: flex-start;
  }

.order-6{
    order: 6;
}
.order-7{
    order: 7;
}
.order-8{
    order: 8;
}
.order-9{
    order: 9;
}

.text-justify{
    text-align: justify;
}

.hr-green{
    color: $green;
    box-shadow: 0px 1px 2px $green;
}

.hr-primary{
    color: $primary;
    box-shadow: 0px 1px 2px $primary;
}

.kenya-slider{
    width: auto;
    height: auto;

    .big-img{
        margin-top: -6rem;
        margin-bottom: -6rem;
    }
}

#faq{
    a{
        text-decoration: none;
    }
}

#application-modal{

    .btn:hover{
        color: white;
    }
}