html {
  overflow-x: hidden; }

.main-background {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../img/bg1.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }

.vertical-align {
  display: flex;
  align-items: center; }

.vertical-align-self {
  max-width: 100%; }

.vetical-align-self--top {
  align-self: flex-start; }

.navbar {
  border-bottom: 4px solid #e63946; }

:target::before {
  content: "";
  display: block;
  height: 3rem;
  margin: -3rem 0 0; }
